/*    ==Параметры сценариев==

    Версия исходного сервера : SQL Server 2014 (12.0.2000)
    Выпуск исходного ядра СУБД : Выпуск Microsoft SQL Server Express Edition
    Тип исходного ядра СУБД : Изолированный SQL Server

    Версия целевого сервера : SQL Server 2017
    Выпуск целевого ядра СУБД : Выпуск Microsoft SQL Server Standard Edition
    Тип целевого ядра СУБД : Изолированный SQL Server
*/
USE [master]
GO
/****** Object:  Database [StavkiBD]    Script Date: 21.06.2019 15:45:27 ******/
CREATE DATABASE [StavkiBD]

GO
USE [StavkiBD]
GO
/****** Object:  Table [dbo].[tCase]    Script Date: 21.06.2019 15:45:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCase](
	[ID_case] [int] IDENTITY(1,1) NOT NULL,
	[case_name] [nvarchar](50) NULL,
	[koef] [float] NULL,
	[ID_Event] [int] NULL,
	[win] [bit] NULL,
 CONSTRAINT [PK_tCase] PRIMARY KEY CLUSTERED 
(
	[ID_case] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tCategory]    Script Date: 21.06.2019 15:45:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCategory](
	[ID_category] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tCategory] PRIMARY KEY CLUSTERED 
(
	[ID_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tCustomer]    Script Date: 21.06.2019 15:45:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCustomer](
	[ID_customer] [int] IDENTITY(1,1) NOT NULL,
	[sFIO] [nvarchar](50) NULL,
	[bithday] [datetime] NULL,
	[passport] [nvarchar](20) NULL,
	[address] [nvarchar](max) NULL,
	[phone] [nvarchar](20) NULL,
	[bank_account] [nvarchar](50) NULL,
 CONSTRAINT [PK_tCustomer] PRIMARY KEY CLUSTERED 
(
	[ID_customer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tEvent]    Script Date: 21.06.2019 15:45:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tEvent](
	[ID_Event] [int] IDENTITY(1,1) NOT NULL,
	[event_name] [nvarchar](50) NULL,
	[event_date] [datetime] NULL,
	[ID_category] [int] NULL,
	[info] [nvarchar](max) NULL,
	[photo] [varbinary](max) NULL,
	[status] [tinyint] NULL,
 CONSTRAINT [PK_tEvent] PRIMARY KEY CLUSTERED 
(
	[ID_Event] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tStavka]    Script Date: 21.06.2019 15:45:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tStavka](
	[ID_stavka] [int] IDENTITY(1,1) NOT NULL,
	[ID_customer] [int] NULL,
	[ID_case] [int] NULL,
	[stavka_date] [date] NULL,
	[summ] [float] NULL,
	[win] [float] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_tStavka] PRIMARY KEY CLUSTERED 
(
	[ID_stavka] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tCase] ON 

INSERT [dbo].[tCase] ([ID_case], [case_name], [koef], [ID_Event], [win]) VALUES (1, N'Швейцария выйграет', 5, 2, 0)
INSERT [dbo].[tCase] ([ID_case], [case_name], [koef], [ID_Event], [win]) VALUES (2, N'Португалия выйграет', 2, 1, 1)
INSERT [dbo].[tCase] ([ID_case], [case_name], [koef], [ID_Event], [win]) VALUES (3, N'Нидерланды выйграют', 3, 1, 0)
SET IDENTITY_INSERT [dbo].[tCase] OFF
SET IDENTITY_INSERT [dbo].[tCategory] ON 

INSERT [dbo].[tCategory] ([ID_category], [category_name]) VALUES (1, N'Футбол')
INSERT [dbo].[tCategory] ([ID_category], [category_name]) VALUES (2, N'Хоккей')
INSERT [dbo].[tCategory] ([ID_category], [category_name]) VALUES (3, N'Волейбол')
SET IDENTITY_INSERT [dbo].[tCategory] OFF
SET IDENTITY_INSERT [dbo].[tCustomer] ON 

INSERT [dbo].[tCustomer] ([ID_customer], [sFIO], [bithday], [passport], [address], [phone], [bank_account]) VALUES (3, N'Фёдорова Конкордия Эдуардовна ', CAST(N'1990-12-08T00:00:00.000' AS DateTime), N'9209 845456', N' ул. Энгельса, д. 23, Зеленодольск, Татарстан, квартира 70', N'+7(93) 1905-5795', N'1145-6454-6546-5465')
INSERT [dbo].[tCustomer] ([ID_customer], [sFIO], [bithday], [passport], [address], [phone], [bank_account]) VALUES (4, N'Муравьев Карл Русланович', CAST(N'1985-03-11T00:00:00.000' AS DateTime), N'9301 554564', N'ул. Карла Маркса, д. 13, Зеленодольск, Татарстан, квартира 55', N'+7(94) 3455-4545', N'5465-4654-6546-5465')
INSERT [dbo].[tCustomer] ([ID_customer], [sFIO], [bithday], [passport], [address], [phone], [bank_account]) VALUES (6, N'Игнатьева Дарина Викторовна ', CAST(N'1991-06-07T00:00:00.000' AS DateTime), N'1010 101001', N'ул. Почтовая, д. 9, Зеленодольск, Татарстан, квартира 48', N'+7(92) 4646-4664', N'1324-5646-5465-4564')
SET IDENTITY_INSERT [dbo].[tCustomer] OFF
SET IDENTITY_INSERT [dbo].[tEvent] ON 

SET IDENTITY_INSERT [dbo].[tEvent] OFF
SET IDENTITY_INSERT [dbo].[tStavka] ON 

INSERT [dbo].[tStavka] ([ID_stavka], [ID_customer], [ID_case], [stavka_date], [summ], [win], [status]) VALUES (19, 4, 2, CAST(N'2024-06-21' AS Date), 1, 2, 1)
INSERT [dbo].[tStavka] ([ID_stavka], [ID_customer], [ID_case], [stavka_date], [summ], [win], [status]) VALUES (20, 4, 3, CAST(N'2024-06-21' AS Date), 100, 0, 0)
INSERT [dbo].[tStavka] ([ID_stavka], [ID_customer], [ID_case], [stavka_date], [summ], [win], [status]) VALUES (21, 8, 7, CAST(N'2024-06-21' AS Date), 100, 0, 0)
SET IDENTITY_INSERT [dbo].[tStavka] OFF
ALTER TABLE [dbo].[tCase]  WITH CHECK ADD  CONSTRAINT [FK_tCase_tEvent] FOREIGN KEY([ID_Event])
REFERENCES [dbo].[tEvent] ([ID_Event])
GO
ALTER TABLE [dbo].[tCase] CHECK CONSTRAINT [FK_tCase_tEvent]
GO
ALTER TABLE [dbo].[tEvent]  WITH CHECK ADD  CONSTRAINT [FK_tEvent_tCategory] FOREIGN KEY([ID_category])
REFERENCES [dbo].[tCategory] ([ID_category])
GO
ALTER TABLE [dbo].[tEvent] CHECK CONSTRAINT [FK_tEvent_tCategory]
GO
ALTER TABLE [dbo].[tStavka]  WITH CHECK ADD  CONSTRAINT [FK_tStavka_tCase] FOREIGN KEY([ID_case])
REFERENCES [dbo].[tCase] ([ID_case])
GO
ALTER TABLE [dbo].[tStavka] CHECK CONSTRAINT [FK_tStavka_tCase]
GO
ALTER TABLE [dbo].[tStavka]  WITH CHECK ADD  CONSTRAINT [FK_tStavka_tCustomer] FOREIGN KEY([ID_customer])
REFERENCES [dbo].[tCustomer] ([ID_customer])
GO
ALTER TABLE [dbo].[tStavka] CHECK CONSTRAINT [FK_tStavka_tCustomer]
GO
USE [master]
GO
